<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
</head>

<body>
    <div class="container">
        <h1>New Scientist</h1>
        <form action="/new" method="POST">
            <div class="form-group">
                <label for="planet-name">Name</label>
                <input class="form-control" type="text" name="name" id="scientist-name">
            </div>
            <div class="form-group">
                <label for="planet-description">Description</label>
                <textarea class="form-control" type="text" name="description" id="scientist-description" rows='5'></textarea>
            </div>
            <input type="submit" value="Submit" class="btn btn-primary">
        </form>
    </div>
</body>

</html>
